<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.12.3.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- socket.IO client part -->
    <script src="js/socket.io.js"></script>
    <!-- Clipboard module dependency -->
    <script src="js/clipboard.min.js"></script>
    <!-- table-head-fixed script -->
    <script src="js/jquery.michiweber.table-head-fixed.min.js"></script>

    {{{ body }}}

  </body>

</html>
