<div class="center">
    <h4><span class="label label-default">Annotation details</span></h4>
</div>

<div class="annotations-properties-direct">
    <table id="annotation-details-table" class="table-condensed table-hover table-fit details-table">
        <tbody>
        </tbody>
    </table>
</div>

<script>
$('#annotations-table').on('click', '.clickable-row', function(event) {
  var row = $(this);
  row.addClass('bg-info').siblings().removeClass('bg-info');
  var table = $("#annotation-details-table > tbody");
  table.empty();
  table.append("<tr><td class='property'>Text:</td><td>"+row.find('td.text').html()+"</td></tr>");
  table.append("<tr><td class='property'>Type:</td><td>"+row.find('td.type').html()+"</td></tr>");
  table.append("<tr><td class='property'>Author:</td><td>"+row.find('td.author').html()+"</td></tr>");
  table.append("<tr><td class='property'>Date:</td><td>"+row.find('td.date').html()+"</td></tr>");
  table.append("<tr><td class='property'>Publication:</td><td>"+row.find('td.publication').html()+"</td></tr>");
  var citestring = "\\cite{"+row.find('td.bibtexKey').text()+"}";
  table.append("<tr><td class='property'>Latex cite:</td><td class='command-text'><button class='btn btn-md btn-clip' data-clipboard-text='"+citestring+"' data-toggle='tooltip' data-placement='top' title='Click to copy to clipboard'>"+citestring+"</button> </td></tr>");
  var copyOpenCommand2String = "";
  var pageNo = parseInt(row.find('td.page').text());
  
  if ("{{settings.local_pdf_editor}}".indexOf("okular")!==-1) {
    copyOpenCommand2String = "\"{{ settings.local_pdf_editor }}\" ".concat("--page ").concat(pageNo.toString()).concat(" \"").concat("{{ settings.pdf_library_dir_local }}")+row.find('td.relativeFilePath').text()+"\"&";
  }
  if ("{{settings.local_pdf_editor}}".indexOf("PDFXCview") !==-1) {
    
    copyOpenCommand2String = "\"{{ settings.local_pdf_editor }}\" ".concat("/A page=").concat(pageNo.toString()).concat(" \"").concat("{{ settings.pdf_library_dir_local }}")+row.find('td.relativeFilePath').text()+"\"";
  }
  console.log(copyOpenCommand2String)

  table.append("<tr><td class='property'>Page:</td><td><span class='badge'>"+pageNo+"</span><button type='submit' class='btn btn-md' value='"+row.find('td.relativeFilePath').text()+"#page="+pageNo+"' onclick='openFile(this)'>Open in browser</button> <button class='btn btn-md btn-clip' data-clipboard-text='"+copyOpenCommand2String+"'>Copy command</button></td></tr>");
  
  var citepstring = "\\citep[p. "+pageNo+"]{"+row.find('td.bibtexKey').text()+"}";

  table.append("<tr><td class='property'>Latex citep:</td><td><button class='btn btn-md btn-clip' data-clipboard-text='"+citepstring+"' data-toggle='tooltip' data-placement='top' title='Click to copy to clipboard'>"+citepstring+"</button></td></tr>");

});

</script>
