<div class="row center" name="label-buttons">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h4><span class="label label-default">Annotations filter</span></h4>
  </div>
  <div class="col-md-4">
      <button id="apply-annotations-filters" type="submit" class="btn btn-success btn-md btn-filter" onclick="applyAnnotationsFilter()">Apply</button>
      <button id="clear-annotations-filters" type="submit" class="btn btn-warning btn-md btn-filter" onclick="clearAnnotationsFilter()">Clear</button>
  </div>
</div>

<div class="row center"  class ="full-test-search">
  <div class="col-md-12">
    <div class="input-group"> <span class="input-group-addon">Search annotations</span>
      <input id="annotations-full-text-query" type="text" class="form-control" placeholder="Put AND (your OR query) AND here... enable/disable with buttons on the right" autocomplete="off" >
    </div>
  </div>
</div>
<div id="search-fields">
  <div class="row center">
     <h4><span class="label label-default">Search fields</span></h4>
  </div>
  <div class="row">
    {{# each annotationsFullTextSearchFields}}
      <div class="col-md-6 center">
        <label><input name="annotationsTextSearchFilter" type="checkbox" id="{{ @key }}" autocomplete="off" checked/> {{ this }}</label>
      </div>
    {{/each}}
  </div>
</div>

<script>

$("#annotations-full-text-query").keyup(function(event){
    if(event.keyCode == 13){
        applyAnnotationsFilter();
    }
});

function applyAnnotationsFilter() {
  var checkedPublications = [];
  $("input[name='publicationFilter']:checked").each(function () {
      var publication = $(this).parents("tr").attr("id");
      checkedPublications.push(publication);
      //console.log("added checked publiation: "+publication);
  });
  //console.log("checked publication set: "+JSON.stringify(checkedPublications));
  var checkedFiles = [];
  $("input[name='fileFilter']:checked").each(function () {
      var file = $(this).parents("tr").attr("id");
      checkedFiles.push(file);
      //console.log("added checked file: "+file);
  });
  //console.log("checked file set: "+JSON.stringify(checkedFiles));

  var annotationsFullTextQuery = $('#annotations-full-text-query').val().split(" ");
  //console.log("fullTextQuery: "+fullTextQuery);

  var annotationsFullTextSearchFields = [];
  $("input[name='annotationsTextSearchFilter']:checked").each(function () {
      var field = $(this).attr("id");
      annotationsFullTextSearchFields.push(field);
      //console.log("added checked tag: "+tag);
  });

  var data = new Object();
  data.checkedPublications = JSON.stringify(checkedPublications);
  data.checkedFiles = JSON.stringify(checkedFiles);
  data.annotationsFullTextQuery = JSON.stringify(annotationsFullTextQuery);
  data.annotationsFullTextSearchFields = JSON.stringify(annotationsFullTextSearchFields);

  console.log('sending message: '+JSON.stringify(data))
  $.post( "/applyAnnotationsFilter", data);
  var socket = io.connect('http://'+document.location.hostname+':3001');
  socket.on('applyAnnotationsFilter', function (message) {
    socket.emit('setActivePane', {
      publicationsPaneStatus: '',
      annotationsPaneStatus: 'active',
      publicationsViewStatus: '',
      annotationsViewStatus: 'in active'
    });

    location.reload();
  });

  // this does not check for the content of the message, but it is ok, untill the only 'enableFilters' message is sent..

}

function clearAnnotationsFilter() {
    $.post("/clearAnnotationsFilter", function() {
      socket.emit('setActivePane', {
        publicationsPaneStatus: 'active',
        annotationsPaneStatus: '',
        publicationsViewStatus: 'in active',
        annotationsViewStatus: ''
      });

      location.reload();
    });
    //location.reload();
}

$('#annotations-full-text-query').on('input', function() {
    $('#apply-annotations-filters').addClass('btn-glowing');
});


</script>
