<div class="center">
    <h4><span class="label label-default">Annotation details</span></h4>
</div>

<div class="annotations-properties-direct">
    <table id="annotation-details-table" class="table-condensed table-hover table-fit details-table">
        <tbody>
        </tbody>
    </table>
</div>

<script>
$('#annotations-table').on('click', '.clickable-row', function(event) {
  var row = $(this);
  row.addClass('bg-info').siblings().removeClass('bg-info');
  var table = $("#annotation-details-table > tbody");
  table.empty();
  table.append("<tr><td class='property'>Text:</td><td>"+row.find('td.text').html()+"</td></tr>");
  table.append("<tr><td class='property'>Type:</td><td>"+row.find('td.type').html()+"</td></tr>");
  table.append("<tr><td class='property'>Author:</td><td>"+row.find('td.author').html()+"</td></tr>");
  table.append("<tr><td class='property'>Date:</td><td>"+row.find('td.date').html()+"</td></tr>");
  table.append("<tr><td class='property'>Publication:</td><td>"+row.find('td.publication').html()+"</td></tr>");
  var citestring = "\\cite{"+row.find('td.bibtexKey').html()+"}";
  table.append("<tr><td class='property'>Latex cite:</td><td class='button'><button id='copyButton' class='btn btn-md' onclick='copyToClipboard2()'>Copy</button> <input id='copyTarget2' value='"+citestring+"'> </td></tr>");
  var copyOpenCommand2String = "";

  if ("{{settings.local_pdf_editor}}".indexOf("okular")!==-1) {
    copyOpenCommand2String = "{{ settings.local_pdf_editor }} ".concat("--page ").concat(row.find('td.page').html()).concat(" \"").concat("{{ settings.pdf_library_dir }}")+row.find('td.relativeFilePath').html()+"\"";
  }
  if ("{{settings.local_pdf_editor}}".indexOf("PDFXCview") !==-1) {
    copyOpenCommand2String = "{{ settings.local_pdf_editor }} ".concat("/A page=").concat(row.find('td.page').html()).concat(" \"").concat("{{ settings.pdf_library_dir }}")+row.find('td.relativeFilePath').html()+"\"";
  }
    console.log(copyOpenCommand2String)
  table.append("<tr><td class='property'>Page:</td><td class='button'><span class='badge'>"+row.find('td.page').html()+"</span> <button type='submit' class='btn btn-md' value='"+row.find('td.relativeFilePath').html()+"#page="+row.find('td.page').html()+"' onclick='openFile(this)'>Open in browser</button>\
  <button id='copyButton' class='btn btn-md' onclick='copyOpenCommand2(this)'>Copy command</button> <input class='openCommandText' id='copyOpenCommand2' value='"+copyOpenCommand2String+"'></td></tr>");
  var citepstring = "\\citep[p. "+row.find('td.page').html()+"]{"+row.find('td.bibtexKey').html()+"}";
  table.append("<tr><td class='property'>Latex citep:</td><td class='button'><button id='copyButton' class='btn btn-md' onclick='copyToClipboard3()'>Copy</button> <input id='copyTarget3' value='"+citepstring+"'> </td></tr>");

});

function copyOpenCommand2(objButton) {
  elem = document.getElementById("copyOpenCommand2");
  // create hidden text element, if it doesn't already exist
  var targetId = "_hiddenCopyText_";
  var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
  var origSelectionStart, origSelectionEnd;
  if (isInput) {
      // can just use the original source element for the selection and copy
      target = elem;
      origSelectionStart = elem.selectionStart;
      origSelectionEnd = elem.selectionEnd;
  } else {
      // must use a temporary form element for the selection and copy
      target = document.getElementById(targetId);
      if (!target) {
          var target = document.createElement("textarea");
          target.style.position = "absolute";
          target.style.left = "-9999px";
          target.style.top = "0";
          target.id = targetId;
          document.body.appendChild(target);
      }
      target.textContent = elem.textContent;
  }
  // select the content
  var currentFocus = document.activeElement;
  target.focus();
  target.setSelectionRange(0, target.value.length);

  // copy the selection
  var succeed;
  try {
      succeed = document.execCommand("copy");
  } catch(e) {
      succeed = false;
  }
  // restore original focus
  if (currentFocus && typeof currentFocus.focus === "function") {
      currentFocus.focus();
  }

  if (isInput) {
      // restore prior selection
      elem.setSelectionRange(origSelectionStart, origSelectionEnd);
  } else {
      // clear temporary content
      target.textContent = "";
  }
  return succeed;

}

function copyToClipboard2() {

    elem = document.getElementById("copyTarget2");
    // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = elem.textContent;
    }
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);

    // copy the selection
    var succeed;
    try {
        succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }

    if (isInput) {
        // restore prior selection
        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    } else {
        // clear temporary content
        target.textContent = "";
    }
    return succeed;
}


function copyToClipboard3() {

    elem = document.getElementById("copyTarget3");
    // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = elem.textContent;
    }
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);

    // copy the selection
    var succeed;
    try {
        succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }

    if (isInput) {
        // restore prior selection
        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    } else {
        // clear temporary content
        target.textContent = "";
    }
    return succeed;
}


</script>
