<div class="center">
    <table class="table-fit">
        <tr>
            <td>
                <h4><span class="label label-default">Authors filter</span></h4>
            </td>
            <!--
            <td>
                <button type="button" class="btn btn-default btn-xs btn-clear">Clear all</button>
            </td>
          -->
        </tr>
    </table>
</div>

<div id="scrollable-table-container">
    <table class="table-condensed table-hover table-fit">
        <tbody>
            {{# each authorsArray as |author| }}
            <tr class="author" id="{{author.id}}">
                <td class="col-md-1 center" center>
                    <input type="checkbox" name="authorFilter" value="checked" autocomplete="off"/>
                </td>
                <td>
                    {{ author.firstName }}, {{ author.lastName }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
