
<div class='col-md-1 label-rotated'>
  <div class="label label-default">Authors</div>
</div>

<div class='col-md-11' id="scrollable-table-container">
    <table id="authors-list" class="table-condensed table-hover table-fit">
        <tbody>
            {{# each authorsArray as |author| }}
            <tr class="author" id="{{author.id}}">
                <td class="col-md-1 center" center>
                    <input type="checkbox" name="authorFilter" value="checked" autocomplete="off"/>
                </td>
                <td>
                    {{ author.lastName }}, {{ author.firstName }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script>
  $("#authors-list").contents().find(":checkbox").bind('change', function(){
      val = this.checked;
      $('#apply-publications-filters').addClass('btn-glowing');
  });
</script>
