<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Database status</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li>Number of documents</li>
      <li>Number of annotations</li>
      <li>Last synchronization time</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>