<div class="center">
    <h4><span class="label label-default">Actions</span></h4>
</div>

<div class="row center">
    <button type="submit" class="btn btn-success btn-md btn-filter" onclick="enableFilters()">Apply Filters</button>
</div>
<div class="row center">
    <button type="submit" class="btn btn-warning btn-md btn-filter" onclick="disableFilters()">Clear Filters</button>
</div>

<script>

function enableFilters() {
  // Get the set of checked tags:
  var checkedTags = [];
  $("input[name='tagFilter']:checked").each(function () {
      var tag = $(this).parents("tr").attr("id");
      checkedTags.push(tag);
      //console.log("added checked tag: "+tag);
  });
  //console.log("checked tag set: "+JSON.stringify(checkedTags));
  var checkedAuthors = [];
  $("input[name='authorFilter']:checked").each(function () {
      var author = $(this).parents("tr").attr("id");
      checkedAuthors.push(author);
      //console.log("added checked author: "+author);
  });
  //console.log("checked author set: "+JSON.stringify(checkedAuthors));
  var checkedPublications = [];
  $("input[name='publicationFilter']:checked").each(function () {
      var publication = $(this).parents("tr").attr("id");
      checkedPublications.push(publication);
      //console.log("added checked publiation: "+publication);
  });
  //console.log("checked publication set: "+JSON.stringify(checkedPublications));
  var checkedFiles = [];
  $("input[name='fileFilter']:checked").each(function () {
      var file = $(this).parents("tr").attr("id");
      checkedFiles.push(file);
      //console.log("added checked file: "+file);
  });
  //console.log("checked file set: "+JSON.stringify(checkedFiles));

  var fullTextQuery = $('#full-text-query').val().split(" ");
  //console.log("fullTextQuery: "+fullTextQuery);

  var fullTextSearchFields = [];
  $("input[name='fullTextSearchFilter']:checked").each(function () {
      var field = $(this).attr("id");
      fullTextSearchFields.push(field);
      //console.log("added checked tag: "+tag);
  });
  //console.log("fullTextSearchFields: "+JSON.stringify(fullTextSearchFields));

  var data = new Object();
  data.checkedTags = JSON.stringify(checkedTags);
  data.checkedAuthors = JSON.stringify(checkedAuthors);
  data.checkedPublications = JSON.stringify(checkedPublications);
  data.checkedFiles = JSON.stringify(checkedFiles);
  data.fullTextQuery = JSON.stringify(fullTextQuery);
  data.fullTextSearchFields = JSON.stringify(fullTextSearchFields);

  //console.log(JSON.stringify(data));
  // construct data object from dom (tagas, authors, etc.)
  $.post( "/enableFilters", data);
  var socket = io.connect('http://'+document.location.hostname+':3001');
  socket.on('enableFilters', function (message) {
    location.reload();
  });

    // this does not check for the content of the message, but it is ok, untill the only 'enableFilters' message is sent..

}

function disableFilters() {
    $.post("/disableFilters", function() { location.reload();});
    //location.reload();
}


</script>
