<div class="col-md-8">
<div class="sorted-annotations-table-container">

  {{#if annotationsArray.length }}
    <div class="input-group"> <span class="input-group-addon">Quick Filter</span>
      <input id="filter-sorted-annotations" type="text" class="form-control" placeholder="For single column search only; use full filters search in multiple columns...">
    </div>
    <table id="sorted-annotations-table-head" class="sorted-annotations-table table-condensed table-hover table-fit table-fixed-head">
        <thead>
          <tr>
            <th class="type">Type</th>
            <th class="page">Page</th>
            <th class="text">Text</th>
            <th class="author">Author</th>
          </tr>
        </thead>
    </table>  
      <div class="scrollable-big-table-container">
        <table id="sorted-annotations-table" class="sorted-annotations-table table-condensed table-hover table-fit table-fixed-head">
            <thead class="invisible">
              <tr>
                <th class="type"></th>
                <th class="page"></th>
                <th class="text"></th>
                <th class="author"></th>
              </tr>
            </thead>
            <tbody class="searchable">
                {{#publicationsWithAnnotationsArray as |publication|}}
                    <tr class="publication-group accordeon-toggle" id="{{publication.hash}}" data-toggle="collapse" data-target=".{{publication.hash}}" data-toggle='tooltip' data-placement='top' title="Click to collapse/expand">
                        <td colspan="4" >Publication: {{ publication.title }}</td>
                    </tr>
                    {{#annotations as |annotation|}}
                      <tr class="annotation clickable-row" id="{{annotation.id}}" uniqueName={{annotation.uniqueName}}>
                        <td class="collapsableRow type"><div class="{{publication.hash}} accordian-body collapse in">{{ annotation.subType }}</div></td>
                        <td class="collapsableRow page"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.page}}</div></td>
                        <td class="collapsableRow text"><div class="{{publication.hash}} accordian-body collapse in">{{ annotation.displayText }}</div></td>
                        <td class="collapsableRow author"><div class="{{publication.hash}} accordian-body collapse in">{{ annotation.author }}</div></td>
                        <td class="collapsableRow subType hidden"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.subType}}</div></td>
                        <td class="collapsableRow date hidden"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.date}}</div></td>
                        <td class="collapsableRow publication hidden"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.publication}}</div></td>
                        <td class="collapsableRow relativeFilePath hidden"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.relativeFilePath}}</div></td>
                        <td class="collapsableRow bibtexKey hidden"><div class="{{publication.hash}} accordian-body collapse in">{{annotation.bibtexKey}}</div></td>
                      </tr>
                    {{/annotations}}
                {{/publicationsWithAnnotationsArray}}
            </tbody>
        </table>
      </div> <!--scrollable-table-container-->
    {{else}}
    <h5 class="warning center" style="margin-top:5em;">There either no or too many annotatations to display. Please adjust filters. If tag / author filter was used, please select publication of interest and enable again.</h5>
    {{/if}}
    <!--
    <p>Table with publications and ability to select them (checkboxes?)</p>
    display text in case
    -->
</div>
</div>

<div class="col-md-4 withbackground details-container">

    <div class="tab-content">
        <div id="sorted-annotation-details" class="tab-pane fade in active">
            {{> sortedAnnotationDetails }}
        </div>
    </div>

</div>  <!--annotationDetails -->
<script>
// quick filter on annotatations;
        $('#filter-sorted-annotations').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        });

</script>
