<div class="center">
    <h4><span class="label label-default">Publication details</span></h4>
</div>

<div class="publication-properties-direct">
    <table id="publication-details-table" class="table-condensed table-hover table-fit details-table">
        <tbody>
        </tbody>
    </table>
</div>


<script>
$('#publications-table').on('click', '.clickable-row', function(event) {
  var row = $(this);
  row.addClass('bg-info').siblings().removeClass('bg-info');
  var table = $("#publication-details-table > tbody");
  table.empty();
  table.append("<tr><td class='property'>Type:</td><td>"+row.find('td.type').html()+"</td></tr>");
  table.append("<tr><td class='property'>Authors:</td><td>"+row.find('td.authors').html()+"</td></tr>");
  table.append("<tr><td class='property'>Title:</td><td>"+row.find('td.title').html()+"</td></tr>");
  table.append("<tr><td class='property'>Published:</td><td>"+row.find('td.date').html()+"</td></tr>");
  if (row.find('td.publisher').html() != "") {
    table.append("<tr><td class='property'>Publisher:</td><td>"+row.find('td.publisher').html()+"</td></tr>");
  }
  table.append("<tr><td class='property'>Added:</td><td>"+row.find('td.dateAdded').html()+"</td></tr>");
  table.append("<tr><td class='property'>Modified:</td><td>"+row.find('td.dateModified').html()+"</td></tr>");
  var copyOpenCommand1String = "{{ settings.local_pdf_editor }} ".concat("\"{{ settings.pdf_library_dir }}")+row.find('td.relativeFilePath').html()+"\"";
  if (row.find('td.fileAttached').html() == 'true') {

    table.append("<tr><td class='property'>PDF attachment:</td><td class='button'>\
    <button type='submit' class='btn btn-md' value='"+row.find('td.relativeFilePath').html()+"' onclick='openFile(this)'>Open in browser</button>    <button id='copyButton' class='btn btn-md' onclick='copyOpenCommand1(this)'>Copy command</button> <input class='openCommandText' id='copyOpenCommand1' value='"+copyOpenCommand1String+"'></td></tr>");
    table.append("<tr><td class='property'>Status:</td><td>OK: Zotero bibliography and PDF library entries match.</td></tr>");
  } else if (row.find('td.fileAttached').html() == 'false') {
    table.append("<tr><td class='property'>Status:</td><td class='status-problem'>Looks like the publication entry lacks PDF file attachment. Please attach file via Zotero interface and then synchronize via Control Room.</td></tr>");
  } else if (row.find('td.publicationAttached').html() == 'false') {

    table.append("<tr><td class='property'>PDF attachment:</td><td><button type='submit' class='btn btn-md' value='"+row.find('td.relativeFilePath').html()+"' onclick='openFile(this)'>Open in <br/>browser</button> <button id='copyButton' class='btn btn-md' onclick='copyToClipboard1()'>Copy command</button> <input id='copyOpenCommand1' class='openCommandText' value='"+copyOpenCommand1String+"'></td></tr>");
    table.append("<tr><td class='property'>Status:</td><td class='status-problem'>Looks like this is a lone file without entry in Zotero database. Please add corresponding bibliography entry to Zotero and attach this file to it; then synchornize via Control Room.</td></tr>");
  }
  var citestring = "\\cite{"+row.find('td.bibtexKey').html()+"}";
  table.append("<tr><td class='property'>Latex cite:</td><td class='button'><button id='copyButton' class='btn btn-md' onclick='copyToClipboard1()'>Copy</button> <input id='copyTarget1' value="+citestring+"> </td></tr>");
  table.append("<tr><td class='property'>Annotatations:</td><td><span class='badge'>"+row.find('td.numberOfAnnotations').html()+"</span></td></tr>");
});
</script>

<script>

function openFile(objButton) {
  var relativeFilePath = objButton.value;
  window.open("http://"+document.location.hostname+":3002"+relativeFilePath, '_blank');
}

function copyOpenCommand1(objButton) {
  elem = document.getElementById("copyOpenCommand1");
  // create hidden text element, if it doesn't already exist
  var targetId = "_hiddenCopyText_";
  var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
  var origSelectionStart, origSelectionEnd;
  if (isInput) {
      // can just use the original source element for the selection and copy
      target = elem;
      origSelectionStart = elem.selectionStart;
      origSelectionEnd = elem.selectionEnd;
  } else {
      // must use a temporary form element for the selection and copy
      target = document.getElementById(targetId);
      if (!target) {
          var target = document.createElement("textarea");
          target.style.position = "absolute";
          target.style.left = "-9999px";
          target.style.top = "0";
          target.id = targetId;
          document.body.appendChild(target);
      }
      target.textContent = elem.textContent;
  }
  // select the content
  var currentFocus = document.activeElement;
  target.focus();
  target.setSelectionRange(0, target.value.length);

  // copy the selection
  var succeed;
  try {
      succeed = document.execCommand("copy");
  } catch(e) {
      succeed = false;
  }
  // restore original focus
  if (currentFocus && typeof currentFocus.focus === "function") {
      currentFocus.focus();
  }

  if (isInput) {
      // restore prior selection
      elem.setSelectionRange(origSelectionStart, origSelectionEnd);
  } else {
      // clear temporary content
      target.textContent = "";
  }
  return succeed;

}

function copyToClipboard1() {

    elem = document.getElementById("copyTarget1");
	  // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = elem.textContent;
    }
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);

    // copy the selection
    var succeed;
    try {
    	  succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }

    if (isInput) {
        // restore prior selection
        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    } else {
        // clear temporary content
        target.textContent = "";
    }
    return succeed;
}

</script>
