<div class="col-md-8">
<div class="publications-table-container">
  <div class="row">
    <div class="col-md-10">
      <div class="input-group"> <span class="input-group-addon">Quick Filter</span>
        <input id="filter-publications" type="text" class="form-control" placeholder="For single column search only; use full filters search in multiple columns...">
      </div>
    </div>
    <div class="col-md-2">
      <label><input name="filter-no-annotations" type="checkbox" id="filter-no-annotations" autocomplete="off" data-toggle='tooltip' data-placement='top' title='Show only publications with annotations' unchecked/> Only annotated</label>
    </div>
  </div>
  <div class="scrollable-big-table-container">
      <table id="publications-table" class="table-condensed table-hover table-fit">
          <thead>
            <tr>
              <th class="mark"><input type="checkbox" name="toggle-all" id="toggle-all-head" value="checked"/></th>
              <th class="title">Title</th>
              <th class="authors">Authors</th>
              <th class="date">Date</th>
              <th class="type">Type</th>
              <th class="numberOfAnnotations">Annotations</th>
              <th class="statusIcon">Status</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th class="mark"><input type="checkbox" name="toggle-all" id="toggle-all-foot" value="checked"/></th>
              <th>Title</th>
              <th>Authors</th>
              <th>Date</th>
              <th>Type</th>
              <th>Annotations</th>
              <th>Status</th>
            </tr>
          </tfoot>
          <tbody class="searchable">
              {{# each publicationsArray as |publication|}}
                <tr class="publication clickable-row" id="{{publication.id}}" tags="{{publication.tagVertexIds}}">
                  <td class="mark">
                      <input type="checkbox" name="publicationFilter" value="checked" autocomplete="off"/>
                  </td>
                  <td class="title">{{ publication.title }}</td>
                  <td class="authors">{{ publication.authorstext }}</td>
                  <td class="date">{{ publication.date }}</td>
                  <td class="type">{{ publication.itemType }}</td>
                  <td class="fileAttached hidden">{{ publication.fileAttached }}</td>
                  <td class="numberOfAnnotations center">{{publication.numberOfAnnotations}}</td>
                  <td class="statusIcon center">
                    {{#if publication.fileAttached }}
                      <span class="status-ok">
                        <span class="vcenter glyphicon glyphicon-ok-sign"</span>
                      </span>
                    {{else}}
                      <span class="status-problem">
                        <span class="vcenter glyphicon glyphicon-exclamation-sign"</span>
                      </span>
                    {{/if}}
                  </td>
                  <td class="dateAdded hidden"> {{publication.dateAdded}}</td>
                  <td class="dateModified hidden">{{publication.dateModified}}</td>
                  <td class="publisher hidden">{{publication.publisher}}</td>
                  <td class="bibtexKey hidden">{{publication.bibtexKey}}</td>
                  <td class="file hidden">{{publication.file}}</td>
                  <td class="relativeFilePath hidden">{{publication.relativeFilePath}}</td>

                </tr>
              {{/each}}
              {{# each pdfFilesArray as |file|}}
                <tr class="file clickable-row" id={{file.id}}>
                  <td class="mark">
                      <input type="checkbox" name="fileFilter" value="checked" autocomplete="off"/>
                  </td>
                  <td class="title">{{file.fileName}}</td>
                  <td class="authors"> n.a  </td>
                  <td class="date"> n.a </td>
                  <td class="type"> file </td>
                  <td class="publicationAttached hidden">{{file.publicationAttached}}</td>
                  <td class="relativeFilePath hidden">{{ file.relativeFilePath }}</td>
                  <td class="numberOfAnnotations center">{{file.numberOfAnnotations}}</td>
                  <td class="statusIcon center">
                    {{#if file.publicationAttached }}
                      <span class="status-ok">
                        <span class="vcenter glyphicon glyphicon-ok-sign"</span>
                      </span>
                    {{else}}
                      <span class="status-problem">
                        <span class="vcenter glyphicon glyphicon-exclamation-sign"</span>
                      </span>
                    {{/if}}
                  </td>

                </tr>
              {{/each}}
          </tbody>
      </table>
  </div>
    <!--
    <p>Table with publications and ability to select them (checkboxes?)</p>
    display text in case
    -->
</div>
</div>

<div class="col-md-4 withbackground details-container">

    <div class="tab-content">
        <div id="publication-details" class="tab-pane fade in active">
            {{> publicationDetails }}
        </div>
    </div>

</div>  <!--publicationDetails -->

<script>
// quick filter on publications;
        $('#filter-publications').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        });

        // toggle select all publications
        $('#toggle-all-head').change(function() {
            $('input[name=publicationFilter').each(function() {this.checked = !this.checked; });
            $('input[name=fileFilter').each(function() {this.checked = !this.checked; });
            $('input[id=toggle-all-foot').each(function() {this.checked = !this.checked; });
        });

        $('#toggle-all-foot').change(function() {
            $('input[name=publicationFilter').each(function() {this.checked = !this.checked; });
            $('input[name=fileFilter').each(function() {this.checked = !this.checked; });
            $('input[id=toggle-all-head').each(function() {this.checked = !this.checked; });

        });

        // filter non-annotated
        $('#filter-no-annotations').change(function() {
            if(this.checked) {
              $('.searchable tr.publication td.mark').filter(function() {
                return $(this).find('.numberOfAnnotations').text()==0;
              }).hide();
              $('.searchable tr.file').filter(function() {
                return $(this).find('.numberOfAnnotations').text()==0;
              }).hide();

            } else {
              $('.searchable tr.publication').show();
              $('.searchable tr.file').show();
            }
        });
        
        // in order to keep filtering when page is reloaded
        if($('#filter-no-annotations').checked) {
          $('.searchable tr.publication').filter(function() {
            return $(this).find('.numberOfAnnotations').text()==0;
          }).hide();
          $('.searchable tr.file').filter(function() {
            return $(this).find('.numberOfAnnotations').text()==0;
          }).hide();

        } else {
          $('.searchable tr.publication').show();
          $('.searchable tr.file').show();
        }

        $("#publications-table").contents().find(":checkbox").bind('change', function(){
            val = this.checked;
            $('#apply-annotations-filters').addClass('btn-glowing');
        });

</script>
