<div class="row center" name="label-buttons">
  <div class="col-md-4">
    <label><input type="checkbox" id="search-operator" autocomplete="off" data-toggle='tooltip' data-placement='top' title='Construct query by combining selected tags, authors and text in title with OR operator (default is AND)' unchecked/> combine with OR</label>
  </div>
  <div class="col-md-4">
    <h4><span class="label label-default">Publications filter</span></h4>
  </div>
  <div class="col-md-4">
    <button id="apply-publications-filters" type="submit" class="btn btn-success btn-md btn-filter" onclick="applyPublicationsFilter()">Apply</button>
    <button id="clear-publications-filters" type="submit" class="btn btn-warning btn-md btn-filter" onclick="clearPublicationsFilter()">Clear</button>
  </div>

</div> <!-- row 1 -->
<div class="row">
  <div class="col-md-12" class="full-text-search">
    <div class="input-group"> <span class="input-group-addon">Search publication titles</span>
      <input id="publications-full-text-query" type="text" class="form-control" placeholder="Put AND (your OR query) AND here... " autocomplete="off" >
    </div>
  </div>
</div> <!-- row 3 -->

<div class="row" name="tags-and-authors">
  <div class="col-md-6"  id ="tags">
      {{> tags }}
  </div>
      <div class="main col-md-6"  id ="authors">
      {{> authors }}
  </div>
</div> <!-- row 2: tags-and-authors -->

<script>

$("#publications-full-text-query").keyup(function(event){
    if(event.keyCode == 13){
        applyPublicationsFilter();
    }
});

function applyPublicationsFilter() {
  // Get the set of checked tags:
  var checkedTags = [];
  $("input[name='tagFilter']:checked").each(function () {
      var tag = $(this).parents("tr").attr("id");
      checkedTags.push(tag);
      //console.log("added checked tag: "+tag);
  });
  //console.log("checked tag set: "+JSON.stringify(checkedTags));
  var checkedAuthors = [];
  $("input[name='authorFilter']:checked").each(function () {
      var author = $(this).parents("tr").attr("id");
      checkedAuthors.push(author);
      //console.log("added checked author: "+author);
  });
  //console.log("checked author set: "+JSON.stringify(checkedAuthors));

  var publicationsFullTextQuery = $('#publications-full-text-query').val().split(" ");
  //console.log("fullTextQuery: "+fullTextQuery);
  var publicationsFullTextSearchFields = ["publicationTitle","title"];
  var annotationsFullTextSearchFields = [];
  $("input[name='annotationsTextSearchFilter']:checked").each(function () {
      var field = $(this).attr("id");
      annotationsFullTextSearchFields.push(field);
      //console.log("added checked tag: "+tag);
  });


  var data = new Object();
  data.checkedTags = JSON.stringify(checkedTags);
  data.checkedAuthors = JSON.stringify(checkedAuthors);
  data.publicationsFullTextQuery = JSON.stringify(publicationsFullTextQuery);
  data.publicationsFullTextSearchFields = JSON.stringify(publicationsFullTextSearchFields);
  data.publicationsSearchOperator = operator
  console.log('operator is')
  console.log(operator)

  //console.log(JSON.stringify(data));
  // construct data object from dom (tagas, authors, etc.)
  //$.post( "/applyPublicationsFilter", data);

  console.log('sending message: '+JSON.stringify(data))
  $.post( "/applyPublicationsFilter", data);
  var socket = io.connect('http://'+document.location.hostname+':3001');
  socket.on('applyPublicationsFilter', function (message) {
    socket.emit('setActivePane', {
      publicationsPaneStatus: 'active',
      annotationsPaneStatus: '',
      publicationsViewStatus: 'in active',
      annotationsViewStatus: ''
    });
    location.reload();
  });

    // this does not check for the content of the message, but it is ok, untill the only 'enableFilters' message is sent..

}

function clearPublicationsFilter() {
    $.post("/clearPublicationsFilter", function() {
      socket.emit('setActivePane', {
        publicationsPaneStatus: 'active',
        annotationsPaneStatus: '',
        publicationsViewStatus: 'in active',
        annotationsViewStatus: ''
      });
      location.reload();
    });

}

$('#publications-full-text-query').on('input', function() {
    $('#apply-publications-filters').addClass('btn-glowing');
});

var operator = 'AND'

$('#search-operator').change(function() {
  if(this.checked) {
    operator='OR'
  } else {
    operator='AND'
  }
});


</script>
