<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">SpaceGraph status</h4>
  </div>
  <div class="modal-body space-graph-stats">

    <div class="row" id="number-of-documents">
      <div class="col-md-6 title">
        Total publications: 
      </div>
      <div class="col-md-4 value">
      </div>
    </div>
    <div class="row" id="number-of-zotero-entries">
      <div class="col-md-6 title">
        &nbsp;&nbsp;Zotero bibliography entries: 
      </div>
      <div class="col-md-6 value">
        {{publicationsArray.length}}
      </div>
    </div>
    <div class="row" id="number-of-pdf-files">
      <div class="col-md-6 title">
        &nbsp;&nbsp;PDF files without Zotero entry: 
      </div>
      <div class="col-md-4 value">
        {{pdfFilesArray.length}}
      </div>
    </div>

    <div class="row" id="number-of-annotations">
      <div class="col-md-6 title">
        Number of annotations: 
      </div>
      <div class="col-md-4 value">
        {{annotationsArray.length}}
      </div>
    </div>
    <div class="row" id="space-graph-last-change">
      <div class="col-md-6 title">
        Latest change: 
      </div>
      <div class="col-md-4 value">
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>


<script>
  $.get( "http://localhost:8182/graphs/graph/vertices/?key=entry&value=publication", function( data ) {
    var array = data.results;
    var lastChangeMillis = Math.max.apply(Math,array.map(function(o){
      var date = Date.parse(o.dateModified);
      return date;
    }));
    lastChangeDate = new Date(lastChangeMillis);
    document.getElementById("space-graph-last-change").getElementsByClassName("value")[0].innerHTML=lastChangeDate.toLocaleDateString("en-US")+" " +lastChangeDate.toLocaleTimeString("en-US");
  });

  document.getElementById("number-of-documents").getElementsByClassName("value")[0].innerHTML=parseInt({{publicationsArray.length}})+parseInt({{pdfFilesArray.length}})

</script>