  <div class='col-md-1 label-rotated'>
    <div class="label label-default">Tags</div>
  </div>

  <div class='col-md-11' id="scrollable-table-container">
    <table id="tags-list" class="table-condensed table-hover table-fit">
        <tbody>
            {{# each tagsArray as |tag| }}
            <tr class="tag" id="{{tag.id}}">
                <td class="col-md-1 center">
                    <input type="checkbox" name="tagFilter" value="checked" autocomplete="off"/>
                </td>
                <td>
                    {{ tag.tag }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>

<script>
  $("#tags-list").contents().find(":checkbox").bind('change', function(){
      val = this.checked;
      $('#apply-publications-filters').addClass('btn-glowing');
  });
</script>
