<div class="center">
    <table class="table-fit">
        <tr>
            <td>
                <h4><span class="label label-default">Tags filter</span></h4>
            </td>
            <!--
            <td>
                <button type="button" class="btn btn-default btn-xs btn-clear">Clear all</button>
            </td>
          -->
        </tr>
    </table>
</div>

<div id="scrollable-table-container">
    <table class="table-condensed table-hover table-fit">
        <tbody>
            {{# each tagsArray as |tag| }}
            <tr class="tag" id="{{tag.id}}">
                <td class="col-md-1 center">
                    <input type="checkbox" name="tagFilter" value="checked" autocomplete="off"/>
                </td>
                <td>
                    {{ tag.tag }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
