<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" id="dashboard-nav">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="#">{{ title }}</a>
      </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
            <li>
               <h4><span class="label" id="filter-status" style="display:{{filterStatus}}">Filters enabled</span></h4>
            </li>
            <li>
                <a data-toggle="collapse" href="#library-navigation" aria-expanded="true" role="button"><span class="glyphicon glyphicon-eye-close" title="Toggle Filters"</span></a>
            </li>
            <li>
                <a class="dropdown-toggle" type="button" id="management" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-cog" title="Settings and management"</span></a>

                <ul class="dropdown-menu" aria-labelledby="management">
                    <li>
                        <a data-toggle="modal" href="#application-settings" aria-expanded="false">SpaceShip settings</a>
                    </li>

                    <li role="separator" class="divider"></li>
                    <!--
                    <li>

                        <a data-toggle="modal" href="#space-graph" aria-expanded="false">SpaceGraph status</a>
                    </li>
                    -->
                    <li>
                        <a data-toggle="modal" href="#control-room" aria-expanded="false">Control Room</a>
                    </li>
                </ul>
            </li>
             <li>
                <a data-toggle="collapse" href="#help" aria-expanded="false" role="button"><span class="glyphicon glyphicon-question-sign" title="Help and manual"</span></a>
            </li>

      </ul>
    </div>
  </div>
</nav>

<div class="collapse in" id="library-navigation">
        <div class="col-md-3"  id ="tags">
            {{> tags }}
        </div>
            <div class="col-md-2"  id ="authors">
            {{> authors }}
        </div>
        <div class="col-md-5"  id ="search">
            {{> search }}
        </div>
        <div class="col-md-2"  id ="filterButtons">
            {{> filterButtons }}
        </div>

</div> <!--library navigation -->

<div class="modal fade" role="dialog" id="control-room">
    <div class="modal-dialog">
        {{> controlRoom }}
    </div>
</div> <!--database-status -->

<div class="modal fade" role="dialog"  id="application-settings">
    <div class="modal-dialog">
        {{> appSettings }}
    </div>
</div> <!--application-settings -->

<div class="collapse" id="help">
    <!--<p>Help window</p>-->
</div> <!--help -->

<div class="container-fluid main-canvas">


    <div class="col-md-12"  id ="main-info-window">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#publications">Publications List</a></li>
            <li><a data-toggle="pill" href="#listView">Annotations List</a></li>
            <!--<li><a data-toggle="pill" href="#graphView">GraphView</a></li>-->
        </ul>

        <div class="tab-content">
            <div id="publications" class="tab-pane fade in active">
                {{> publications }}
            </div>
            <div id="listView" class="tab-pane fade">
                {{> listView }}
            </div>
            <div id="graphView" class="tab-pane fade">
                {{> graphView }}
            </div>
        </div>

    </div> <!--annotations -->


</div>
