<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" id="dashboard-nav">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="#">{{ title }}</a>
      </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
            <li>
               <h4><span class="label filter-status" id="annotations-filter-status" style="display:{{annotationsFilterStatus}}">Anotations filter enabled</span></h4>
            </li>
            <li>
               <h4><span class="label filter-status" id="publications-filter-status" style="display:{{publicationsFilterStatus}}">Publications filter enabled</span></h4>
            </li>
            <li>
                <a data-toggle="collapse" id="toggle-filters" href="#library-navigation" aria-expanded="true" role="button"><span class="glyphicon glyphicon-eye-close" title="Toggle Filters"</span></a>
            </li>
            <li>
                <a class="dropdown-toggle" type="button" id="management" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-cog" title="Settings and management"</span></a>

                <ul class="dropdown-menu" aria-labelledby="management">
                    <li>
                        <a data-toggle="modal" id="application-settings-menu-item" href="#application-settings" aria-expanded="false">SpaceShip settings</a>
                    </li>

                    <li role="separator" class="divider"></li>
                    <li>

                        <a data-toggle="modal" id="space-graph-status-menu-item" href="#space-graph-status" aria-expanded="false">SpaceGraph status</a>
                    </li>
                    <li>
                        <a data-toggle="modal" id="control-room-menu-item" href="#control-room" aria-expanded="false">Control Room</a>
                    </li>
                </ul>
            </li>
             <li>
                <a id="help" href="https://vveitas.github.io/yspaceship-doc/features.html" target="_blank" aria-expanded="false" role="button"><span class="glyphicon glyphicon-question-sign" title="User guide"</span></a>
            </li>

      </ul>
    </div>
  </div>
</nav>

<div class="collapse in" id="library-navigation">
        <div class ="col-md-6 border-right" id="publications-search">
          {{> publicationsSearch }}
        </div>
        <div class ="col-md-6" id="annotations-search">
          {{> annotationsSearch }}
        </div>
</div> <!--library navigation -->

<div class="modal fade" role="dialog" id="control-room">
    <div class="modal-dialog">
        {{> controlRoom }}
    </div>
</div> <!--control-room -->

<div class="modal fade" role="dialog"  id="application-settings">
    <div class="modal-dialog">
        {{> appSettings }}
    </div>
</div> <!--application-settings -->

<div class="modal fade" role="dialog" id="space-graph-status">
    <div class="modal-dialog">
        {{> spaceGraphStatus }}
    </div>
</div> <!--space-graph-status -->


<div class="container-fluid main-canvas">


    <div class="col-md-12"  id ="main-info-window">
        <ul class="nav nav-pills">
            <li class="{{ publicationsPaneStatus }}" id="publications-list-pane"><a data-toggle="pill" id="publications-list-button" href="#publications">Publications List</a></li>
            <li class="{{ annotationsPaneStatus }}" id="annotations-list-pane"><a data-toggle="pill" id="sorted-annotations-list-button" href="#hierarchicalListView">Sorted Annotations</a></li>
            <!--<li><a data-toggle="pill" href="#graphView">GraphView</a></li>-->
        </ul>

        <div class="tab-content">
            <div id="publications" class="tab-pane fade {{ publicationsViewStatus }}">
                {{> publications }}
            </div>
            <div id="hierarchicalListView" class="tab-pane fade {{ annotationsViewStatus }}">
                {{> hierarchicalListView }}
            </div>
            <div id="graphView" class="tab-pane fade">
                {{> graphView }}
            </div>
        </div>

    </div> <!--annotations -->


</div>

<script>
    var clipboard = new Clipboard('.btn');
</script>
